
.search-style {
    mask-image: url(../IMG/SVG/Search-icon.svg);
}

/* кнопке поиска сначала просто через CSS даем клас где будет окошко поиска
а уже потом в js добавляем специально созданный класс где будет уже появлятся 
строка поиска стилизованная под прозрачный стиль всего хедера 

если вдруг потеряется  -  вот ссылка на саму форму поиска `https://habr.com/ru/post/438382/`*/

.btn-visibility-style {
    display: none;
}



/* OUR Cervices styles -------------------------*/
.services-content {
    margin: 69px 0 91px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
    list-style: none;
}

.tabs-title {
    width: 193px;
    height: 72px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    font-weight: 400;
    font-size: 16px;
    line-height: 39px;
    color: #717171;
}

.tabs-title:hover {
    border: 2px solid #18CFAB;
}

.tabs-title.active {
    background: #18CFAB;
    position: relative;
}

.tabs-title.active::after {
    content: "";
    border: 1px solid #18CFAB;
    background: #18CFAB;
    padding: 8px;    
    position: absolute;
    right: 87px;
    rotate: 45deg;
    top: 60px;
}

.text {
    display: none;
}

.show-text {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 15px;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}

.text img {
    width: 192px;
    height: 139px;
    object-fit: cover;
}


