
.search-style {
    mask-image: url(../IMG/SVG/Search-icon.svg);
}

/* кнопке поиска сначала просто через CSS даем клас где будет окошко поиска
а уже потом в js добавляем специально созданный класс где будет уже появлятся 
строка поиска стилизованная под прозрачный стиль всего хедера 

если вдруг потеряется  -  вот ссылка на саму форму поиска `https://habr.com/ru/post/438382/`*/

.btn-visibility-style {
    display: none;
}



/* OUR Cervices styles -------------------------*/
.services-content {
    margin-bottom: 91px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
    list-style: none;
}

.tabs-title {
    width: 193px;
    height: 72px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    font-weight: 400;
    font-size: 16px;
    line-height: 39px;
    color: #717171;
}

.tabs-title:hover {
    border: 2px solid #18CFAB;
}

.tabs-title.active {
    background: #18CFAB;
    position: relative;
}

.tabs-title.active::after {
    content: "";
    border: 1px solid #18CFAB;
    background: #18CFAB;
    padding: 8px;    
    position: absolute;
    right: 87px;
    rotate: 45deg;
    top: 60px;
}

.text {
    display: none;
}

.show-text {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 15px;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}

.text img {
    width: 192px;
    height: 139px;
    object-fit: cover;
}

/*Work Card section -------------------------*/
.work-cards-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work-cards {
    display: flex;
    list-style: none;
}


.group-title {
    margin-bottom: 71px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #DADADA;
    padding: 14px 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    color: #717171;
}
.group-title:first-child {
    padding: 14px 28px;    
}

.group-title:hover {
    border: 2px solid #18CFAB;
}

.card-container {
    width: 1160px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    list-style: none;
    width: 285px;
    height: 211px;  
}


/*-----------------------*/

.card-container {
    width: 1160px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.flip-card {
    font-family: sans-serif;
    cursor: pointer;
    width: 285px;
    height: 211px;  
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s ease-in;
    transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    width: 285px;
    height: 211px;  
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}


.flip-card-back {
    background: #E9EDEF;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #18CFAB;
}


.flip-card-inner:hover {
    transform: rotateY(180deg);
}

.card-category {
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
    margin-top: 30px;
}

.flip-card-back img {
    margin-top: 40px;
}

.card-name {
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
}

/*btn preloader-------------*/

.lds-dual-ring {
    display: none;
    width: 30px;
    height: 30px;
    margin: 0 auto;
  }
  
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 24px;
    height: 24px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #18CFAB;
    border-color: #18CFAB transparent #18CFAB transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  
@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  
.active{
    display: block;
    margin-bottom: 99px;
  }

/* Breaking News-------------------*/

.date-item::before {
    position: absolute;
    content: "";
    background: #203E38;
    width: 70px;
    height: 68px;
    left: 10px;
    top: 5px;
}
