body {
    width: 1920px;
    font-family: 'Montserrat', sans-serif;
}

.header-container {
    background-image: 
    linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), 
    url(../IMG/Sections-background/section-1\(header\).jpg);
    background-attachment: fixed;
    background-position: bottom center;
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 8px;
}

.header {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 305px;
    background-color: #5E5D5899;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header-page-logo {
    display: flex;
    align-items: center;
    text-decoration: none;  
}

.header-page-logo svg {
    position: relative;
    left: 45px;
    z-index: 0;
}

.logo-item {
    font-weight: 700;
    font-size: 40px;
    line-height: 31px;
    color: #FFFFFF;
    z-index: 1;
}

.text-logo-item {
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    padding-left: 20px;
}

.text-logo-item span {
    color: #18CFAB;
    font-weight: 700;
}

.nav-container {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.menu-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 21px;
}

.menu-navbar a,
.sub-title,
.title,
.btn {
    text-transform: uppercase; 
       
}


.menu-navbar a {
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.menu-navbar a:hover {
    color: #18CFAB;
    padding-bottom: 48px;
    border-bottom: 2px solid #18CFAB;;
}

.sub-title,
.title,
.btn {
    color: #FFFFFF;    
}

.title-page {
    height: 897px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}

.sub-title {
    font-weight: 700;
    font-size: 35px;
    line-height: 1px;
    box-sizing: border-box;
    text-align: center;
}

.sub-title span {
    color: #18CFAB;
}

.title {
    font-weight: 700;
    font-size: 78px;
    line-height: 1px;

}

.sub-title-two {
    font-weight: 400;
    font-size: 34px;
    line-height: 1px;
    color: #D4D4D4;
}
.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
    z-index: 0;
}

.btn {    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 169px;
    height: 63px;
    position: relative;
    border-radius: 4px;
    border-style: none;
    text-decoration: none;
    color: #FFFFFF; 
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    background: #00CBF6; 

}

.btn:hover {
    background-color: #18CFAB; 
}

.btn::before {
    width: 169px;
    height: 64px;
    content:"";    
    border-radius: 4px;
    border-style: none;
    background: #FFFFFF; 
    position: absolute;
    bottom: 5px;
    left: 0;
    z-index: -1;
}


/* MAIN STYLES --------------------------------*/

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*theme-card-wrapper Section -------------------*/

.theme-card-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 93px;
}

.card-item {
    width: 482px;
    height: 357px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

.dark-item {
    background-color: #1C2A33;
    color: #18CFAB;
    gap: 47px;
}

.green-item {
    background-color: #18CFAB;
    color: #FFFFFF;
    gap: 58px;
}

/* services-container -------------------*/
.services-container,
.our-work-container,
.news-container,
.testimonial-wrapper {
    width: 1160px;     
}

.services-container,
.our-work-container,
.news-container,
.our-work-section,
.testimonial-title {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
}

.services-title,
.work-title,
.news-title,
.testimonial-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    margin-bottom: 26px;
}

.underline {
  border-bottom: 1px solid #18CFAB; 
  width: 76px; 
  position: relative;
  margin-bottom: 73px;
}

.underline::after {
    content:'';
    position: absolute;
    left: 12px;
    top: 3px;
    border-bottom: 1px solid #18CFAB; 
    width: 76px; 
}

.purchase-container,
.testimonial-container {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    object-fit: cover;
    object-position: 100% 35%;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.purchase-container {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), 
        url(../IMG/Sections-background/section-2.jpg);   
    height: 476px;         
}

.purchase-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #18CFAB;
    margin-bottom: 13px;
}

.purchase-container p {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    margin-bottom: 62px;
}

.purchase-btn {
    background: #18CFAB;  
}

.purchase-btn:hover {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 
                0 6px 10px 0 rgba(255, 255, 255, 0.2);
}

/* our-work-section--------------------------------------*/
.our-work-section {
    background-color: #E9EDEF;   
    width: 100%; 
}
.our-work-container {

    margin-top: 86px;
    margin-bottom: 100px;
}

.our-work-container p {
    margin-bottom: 73px;
}

.load-btn {
    width: 168px;
    height: 63px;
    border-radius: 4px;
    border-style: none;
    background: #18CFAB;
    margin-bottom: 99px;
    text-decoration: none;  
    display: flex;
    justify-content: center;
    align-items: center;  
    gap: 15px;    
}

.btn-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
}

/*news-container -----------------------------------------*/
.news-container {
    margin-top: 82px;
}

.news-wrapper {
    display: flex;    
    flex-wrap: wrap;    
    column-gap: 36px;    
    row-gap: 35px;
    margin-bottom: 129px;
}

.current-date {
    position:  absolute;
    width: 70px;
    height: 68px;
    background: #203E38;
    left: 193px;
    top: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.news-card-item:hover .current-date{
    background: #18CFAB;
}

.news-card-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
}

.news-card-item:hover {
    color: #18CFAB;
}

.text-items {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #777777;
}

.text-items::before {
    position: absolute;
    content: '';
    height: 14px;
    width: 1px;
    background:  #777777;
    left: 84px;
    top: 14px;
}

/*testimonial-container------------------------*/
.testimonial-container {
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
    url(../IMG/Sections-background/section-3.jpg);
    height: 853px;
}

.testimonial-title {
    color: #FFFFFF;
}

