body {
    width: 1920px;
    font-family: 'Montserrat', sans-serif;
}

.paralax-container {
    background-image: url(../IMG/Sections-background/section-1\(header\).jpg);
    background-attachment: fixed;
    background-position: bottom center;
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 8px;
}

.header-container {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 305px;
    background-color: #5E5D5899;
    position: fixed;
    top: 0;
    width: 100%;
}

.header-page-logo {
    display: flex;
    align-items: center;
    text-decoration: none;  
}

.header-page-logo svg {
    position: relative;
    left: 45px;
    z-index: 0;
}

.logo-item {
    font-weight: 700;
    font-size: 40px;
    line-height: 31px;
    color: #FFFFFF;
    z-index: 1;
}

.text-logo-item {
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    padding-left: 20px;
}

.text-logo-item span {
    color: #18CFAB;
    font-weight: 700;
}

.nav-container {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.menu-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 21px;
}

.menu-navbar a,
.sub-title,
.title,
.btn {
    text-transform: uppercase; 
       
}


.menu-navbar a {
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.menu-navbar a:hover {
    color: #18CFAB;
    padding-bottom: 48px;
    border-bottom: 2px solid #18CFAB;;
}

.sub-title,
.title,
.btn {
    color: #FFFFFF;    
}

.title-page {
    height: 897px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* box-sizing: border-box;
    text-align: center; */
    gap: 100px;
}

.sub-title {
    font-weight: 700;
    font-size: 35px;
    line-height: 1px;
    box-sizing: border-box;
    text-align: center;
}

.sub-title span {
    color: #18CFAB;
}

.title {
    font-weight: 700;
    font-size: 78px;
    line-height: 1px;

}

.sub-title-two {
    font-weight: 400;
    font-size: 34px;
    line-height: 1px;
    color: #D4D4D4;
}
.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
    z-index: 0;
}

.btn {    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 169px;
    height: 63px;
    position: relative;
    border-radius: 4px;
    border-style: none;
    text-decoration: none;
    color: #FFFFFF; 
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    background: #00CBF6; 

}

.btn:hover {
    background-color: #18CFAB; 
}

.btn::before {
    width: 169px;
    height: 64px;
    content:"";    
    border-radius: 4px;
    border-style: none;
    background: #FFFFFF; 
    position: absolute;
    bottom: 5px;
    left: 0;
    z-index: -1;
}


/* MAIN STYLES --------------------------------*/

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.theme-card-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 93px;
}

.card-item {
    width: 482px;
    height: 357px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

.dark-item {
    background-color: #1C2A33;
    color: #18CFAB;
    gap: 47px;
}

.green-item {
    background-color: #18CFAB;
    color: #FFFFFF;
    gap: 58px;
}

.services-container {
    width: 1160px;    
}

.services-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    margin-bottom: 26px;
}

.underline {
  border-bottom: 1px solid #18CFAB; 
  width: 76px; 
  position: relative;
}

.underline::after {
    content:'';
    position: absolute;
    left: 12px;
    top: 3px;
    border-bottom: 1px solid #18CFAB; 
    width: 76px; 
  }

