body {
    width: 1920px;
    background-color: grey;
    font-family: 'Montserrat', sans-serif;
}

.paralax-container {
    background-image: url(../IMG/Sections-background/section-1\(header\).jpg);
    position: fixed;
    background-position: bottom center;
    background-size: auto 1038px;
    background-repeat: repeat-x;
    width: 100%;
}
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 305px;
    background-color: #5E5D5899;
}

.header-page-logo {
    display: flex;
    align-items: center;
    text-decoration: none;  
    margin: 26px 0 27px 380px;
}

.header-page-logo svg {
    position: relative;
    left: 45px;
    z-index: 0;
}

.logo-item {
    font-weight: 700;
    font-size: 40px;
    line-height: 31px;
    color: #FFFFFF;
    z-index: 1;
}

.text-logo-item {
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    padding-left: 20px;
}

.text-logo-item span {
    color: #18CFAB;
    font-weight: 700;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.menu-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 21px;
}

.menu-navbar a,
.sub-title,
.title,
.btn {
    text-transform: uppercase; 
       
}


.menu-navbar a {
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.sub-title,
.title,
.btn {
    color: #FFFFFF;    
}

.title-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 266px 0 243px;
}

.sub-title {
    font-weight: 700;
    font-size: 35px;
    line-height: 1px;
}

.title {
    font-weight: 700;
    font-size: 78px;
    line-height: 1px;
}

.btn-container {
    display: block;
}